.bigcontainer {
    display: flex;
    max-height: 100vh;
    max-width: 100%;
}

.container {
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: center;
    max-width: 20%;
    padding: 1rem 0.5rem;
    height: auto;
}

.container label {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 0.7rem;
    color: var(--text-color);
}

#SelectorFont {
    width: 100%;
}
.container input:first-of-type {
    height: 12px;
    max-width: 5rem;
}
.container input,
.container select,
.container button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE 51%, #1A2980 100%);
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    max-width: 15rem;
    height: 2rem;
    font-size: 0.6rem;
}



.container button {
    margin-top: 0.5rem;
}

.container input:hover,
.container select:hover,
.container button:hover {
    background-position: right center;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.mothercontainer2 {
    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}

.container2 {
    border: 0.2rem solid var(--container-color);
    border-radius: 0.6rem;
    width: 500px;
    height: 300px;
}

.container2.rectangle {
    border-radius: 0.6rem;
}

.container2.circle {
    border-radius: 50%;
}

.container2.triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.container2.losange {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.container2.hexagone {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.container2.etoile {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}


.generated-logo {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.generated-logo img {
    margin-top: 1rem;
    max-width: 5rem;
    max-height: 5rem;
}

@media (max-width: 968px) {
    .bigcontainer {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin-top: 1rem;

    }

    .container {
        margin: 0 auto;
        max-width: 100%;
        margin-bottom: 2rem;
    }

    

    label {
        margin-bottom: 0.15rem;
    }


    select,
    #SelectorFont,
    #fontSize,
    #fontWeight,
    #letterSpacing,
    #img,
    #text,
    #form,
    #logoWidth,
    #logoHeight,
    button {
        text-align: center;
        width: 15rem;
        height: 3rem;
        margin-bottom: 1rem;
    }

    .custom-color-picker {
        margin-bottom: 0.5rem;
        max-width: 100%;
        width: 10rem;
    }

}

@media (max-width: 750px) {
    .container2 {
        height: 200px;
        width: 300px;
    }
}


@media (max-width: 320px) {}